// Resets
@import "base/reset";
@import "base/myreset";

// Variables
@import "abstracts/variables";

// Typography
@import "base/typography";

//Buttons
@import "components/buttons";

//Layouts
@import "layouts/grid";

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 73px;
  width: 176px;
}
.nav--header {
  background-color: #e84f4f;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.navbar--section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

a {
  color: #000000;
}

.nav--items {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
}

.btn__project {
  margin-right: 35px;
  font-size: 16px;
  padding: 16px 10px;
  border-radius: 8px;
  font-weight: 700;
  color: white;
  background-color: #4073ff;
}

.h1 {
  margin-left: 104px;
}

.content {
  font-size: 16px;
  margin-top: 119px;
  margin-right: 104px;
}

// Section 2

.price--panel__one__background-container {
  height: 437px;
  width: 296px;
  background-color: #ecf2fe;
  margin-left: 102px;
}

.price--panel__two__background-container {
  height: 437px;
  width: 296px;
  background-color: #90acf7;
  margin-left: 102px;
  color: white;
}

.price--panel {
  flex-flow: column;
  padding: 35px 32px;
}

span {
  line-height: 32px;
  font-size: 32px;
  color: #999999;
  font-weight: 700;
}

.span--standard {
  margin-bottom: 9px;
  color: white;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

.btn--order_plan {
  padding-top: 15px;
  background-color: #3371f2;
  color: white;
  padding: 19px 20px;
  height: 53px;
  width: 115px;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
}

.btn--panel-two {
  padding-top: 15px;
  background-color: white;
  color: #3371f2;
  padding: 19px 20px;
  height: 53px;
  width: 115px;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
}

.btn--order_plan_2 {
  padding-top: 15px;
  background-color: #3371f2;
  color: white;
  padding: 19px 20px;
  height: 53px;
  width: 115px;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
}

.panel--logo--column_one {
  height: 64px;
  width: 64px;
  background-color: #90acf7;
  border-radius: 8px;
}

.utility--spacing li {
  padding-bottom: 10px;
}

// Section 3
.img {
  width: 590px;
  height: 699px;
  object-fit: cover;
  padding-top: 100px;
}

#section-3 {
  .column-4 {
    background-color: #ecf2fe;
    padding: 25px 38px;
    border-radius: 8px;
    text-align: center;
    h2 {
      margin-bottom: 27px;
      color: #3371f2;
    }
    p {
      color: #999;
    }
  }
  .column-4:first-child {
    background-color: #3371f2;
    color: white;
    h2 {
      color: white;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .footer-container {
    .footer-row {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      gap: 30px;
      .footer-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-title {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          line-height: 64px;
          font-size: 48px;
          color: #333333;
        }
        .footer-description {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          line-height: 24px;
          color: #666666;
          font-size: 16px;
        }
      }
      .footer-name-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        .first-name-container {
          .form-container {
            display: flex;
            flex-direction: column;
            gap: 18px;
            input {
              width: 300px;
              padding: 9px 15px;
              background-color: #ecf2fe;
              border: 1px solid #a0bcf8;
              border-radius: 8px;
            }
            .first-name {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
              line-height: 22px;
              color: #333333;
              font-size: 16px;
            }
          }
        }
        .last-name-container {
          .form-container {
            display: flex;
            flex-direction: column;
            gap: 18px;
            input {
              width: 300px;
              padding: 9px 15px;
              background-color: #ecf2fe;
              border: 1px solid #a0bcf8;
              border-radius: 8px;
            }
            .last-name {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
              line-height: 22px;
              color: #333333;
              font-size: 16px;
            }
          }
        }
        .footer-message-container {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

textarea {
  background-color: #ecf2fe;
  border: 1px solid #a0bcf8;
  border-radius: 8px;
  width: 100%;
}

.footer-message-btn-container {
  margin-top: 40px;

  & .footer-message-btn {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    padding: 16px 48px;
    background: #3371f2;
    border-radius: 8px;
  }
}

// section 4

.section-4 {
  margin-top: 100px;
}

.column-background-color {
  background-color: #ecf2fe;
  padding-left: 24px;
}

.column-h2 {
  color: #ffffff;
  font-size: 72px;
  line-height: 96px;
}

.column-h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.column-p {
  font-size: 16px;
  line-height: 24px;
  padding-right: 24px;
}

.h2-title {
  padding-right: 100px;
  text-align: center;
  margin-left: 20px;
}

.btn-btn-learn-more {
  padding-bottom: 50px;
  display: inline-block;
  text-decoration: underline;
}

// utility

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}

.column-2__utility {
  justify-content: space-between;
}

.utility-margin--bottom {
  margin-bottom: 32px;
}

.border-r {
  border-radius: 8px;
}

.flex-end {
  align-items: flex-end;
}

.column-wrap {
  flex-direction: column;
}

.d-center {
  justify-content: center;
  align-items: center;
}

.m-b-spacing {
  margin-bottom: 100px;
}

section {
  padding: 100px 0;
}
