// COLORS
$COLOR_BLUE: #176bfb;
$COLOR_GREEN: #3ca455;
$COLOR_ORANGE: #e67337;
$COLOR_RED: #c84040;
$COLOR_TEXT: #110f24;
$COLOR_GRAY_DARK: #ccced0;
$COLOR_GRAY_MEDIUM: #ececee;
$COLOR_GRAY_LIGHT: #f6f6f9;

//FONTS
$MAIN_FONTS: "Lato", sans-serif;
